<div class="user-profile__header">
    <h4>
        {% if app.user.personalInfos is not null and app.user.personalInfos.lastname is not null and app.user.personalInfos.firstname is not null %}
            {{ app.user.personalInfos.firstname }} {{ app.user.personalInfos.lastname }}
        {% else %}
            {{ app.user.username }}
        {% endif %}
    </h4>
    <p>
        {% if app.user.personalInfos is not null and app.user.personalInfos.image is not null %}
            {% thumbnail app.user.personalInfos.image, 'small' %}
        {% endif %}
    </p>
</div>
<ul class="user-profile__navigation">
    <li {% if (app.request.attributes.get('_route') == 'fos_user_profile_reservations') %} class="current"{% endif %}><a href="{{ path('fos_user_profile_reservations') }}"><img src="{{ asset('bundles/atypikhouse/images/icon/icon-hotel.png') }}" alt="">My Reservations</a></li>
    <li {% if (app.request.attributes.get('_route') == 'fos_user_profile_show') %} class="current"{% endif %}><a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('bundles/atypikhouse/images/icon/icon-user.png') }}" alt="">My profile</a></li>
    <li {% if (app.request.attributes.get('_route') == 'fos_user_profile_notation') %} class="current"{% endif %}><a href="{{ path('fos_user_profile_notation') }}"><img src="{{ asset('bundles/atypikhouse/images/icon/icon-review.png') }}" alt="">Notations</a></li>
</ul>
