{% extends '::layout.html.twig' %}

{% block title %}{{ parent() }} | {{ housing.title }}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyACTrxtDIHmqjGy8AX2IC1-FVxHwY-8eew&sensor=false"></script>
    {{ parent() }}
{% endblock %}


{% block content %}
    <section class="sub-banner">
        <div class="bg-parallax bg-1"></div>
        <div class="logo-banner text-center"><a href="{{ path('atypikhouse_home') }}" title=""><img src="{{ asset('bundles/atypikhouse/images/logo.png') }}" alt=""></a></div>
    </section>
    <div class="main main-dt">
        <div class="container">
            <div class="main-cn bg-white clearfix">
                <section class="breakcrumb-sc">
                    <ul class="breadcrumb arrow">
                        <li><a href="{{ path('atypikhouse_home') }}"><i class="fa fa-home"></i></a></li>
                        <li>Hotels</li>
                        <li>{{ housing.title }}</li>
                    </ul>
                </section>
                <section class="head-detail">
                    <div class="head-dt-cn">
                        <div class="row">
                            <div class="col-sm-7">
                                <h1>{{ housing.title }}</h1>
                                <div class="start-address">
                                    <span class="star"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></span>
                                    <address class="address">{{ housing.address.city ~ ', ' ~ housing.address.country }}</address>
                                </div>
                            </div>
                            <div class="col-sm-5 text-right">
                                <p class="price-book">From-<span>{{ housing.price }}€</span>/night <a href="{{ path('atypikhouse_reservation_start', { 'slug' : housing.slug }) }}" title="" class="awe-btn awe-btn-1 awe-btn-lager">Book Now</a></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="detail-slider">
                    <div class="slide-room-lg">
                        <div id="slide-room-lg">
                            {% for media in housing.images %}
                                {% media media.file , 'background' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slide-room-sm">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div id="slide-room-sm">
                                    {% for media in housing.images %}
                                        {% thumbnail media.file , 'background' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% set average_review = housing | housingScore %}
                <section class="hl-features detail-cn" id="hl-features">
                    <div class="row">
                        <div class="col-lg-3 detail-sidebar">
                            <div class="hight-light">
                                <h2>{{ average_review | translateScore }}</h2>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                        {{ housing | bestNotation | raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 details-policies-cn">
                            <div class="policies-item">
                                <h3>{{ housing.title }}</h3>
                                <p>
                                    {{ housing.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="hl-features detail-cn" id="facilities">
                    <div class="row">
                        <div class="col-lg-3 detail-sidebar">
                            <div class="scroll-heading">
                                <h2>Facilities</h2>
                                <hr class="hr">
                                <a href="#facilities" title="">Facilities</a>
                                <a href="#about-area" title="">Area</a>
                                <a href="#review-detail" title="">Reviews</a>
                            </div>
                        </div>
                        <div class="col-lg-9 hl-features-cn">
                            <div class="featured-service">
                                <h3>Facilities</h3>
                                <ul class="service-list">
                                    {% for detail in housing.details %}
                                        <li>
                                            <figure>
                                                <div class="icon-service">
                                                    {% if detail.detail.icon %}
                                                        {% media detail.detail.icon , 'small' %}
                                                    {% else %}
                                                        <img src="{{ asset('bundles/atypikhouse/images/icon-step-hotel.png') }}images/icon-service-1.png" alt="">
                                                    {% endif %}
                                                </div>
                                                <figcaption>{{ detail.detail.label }} : {{ detail.value }}</figcaption>
                                            </figure>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="about-area detail-cn" id="about-area">
                    <div class="row">
                        <div class="col-lg-3 detail-sidebar">
                            <div class="scroll-heading">
                                <h2>Area</h2>
                                <hr class="hr">
                                <a href="#hl-features" title="">Facilities</a>
                                <a href="#review-detail" title="">Reviews</a>
                                <a href="#about-area" title="">Area</a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="hotel-detail-map">
                                <div id="hotel-detail-map" data-latlng="{{ housing.address.latAndLong }}"></div>
                                <p class="about-area-location"><i class="fa fa-map-marker"></i>{{ housing.address.city ~ ', ' ~ housing.address.country }}</p>
                            </div>
                            <div class="about-area-text">
                                <h2>Full Address</h2>
                                <p>For more information you need to make a reservation</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="review-detail detail-cn" id="review-detail">
                    <div class="row">
                        <div class="col-lg-3 detail-sidebar">
                            <div class="scroll-heading">
                                <h2>Reviews</h2>
                                <hr class="hr">
                                <a href="#hl-features" title="">Facilities</a>
                                <a href="#review-detail" title="">Reviews</a>
                                <a href="#about-area" title="">Area</a>
                            </div>
                        </div>
                        <div class="col-lg-9 review-detail-cn">
                            <div class="review-all">
                                <h4 class="review-h">All reviews ({{ reservations | length }})</h4>
                                {% for reservation in reservations %}
                                    {% set review = reservation.review %}
                                    {% set user = reservation.user.personalInfos %}
                                    <div class="row review-item">
                                        <div class="col-xs-3 review-number"><ins>{{ review | averageScore | scoreFormat }}</ins> <span>{{ user.firstname }} {{ user.lastname }}</span> <small>from {{ user.address.city }}, {{ user.address.country }}, {{ review.createdAt | date('d/m/Y') }}</small></div>
                                        <div class="col-xs-9 review-text">
                                            <ul>
                                                <li><span class="icon fa fa-plus"></span>{{ review | bestPart }}</li>
                                                <li><span class="icon icon-minus fa fa-minus"></span>{{ review | nastyPart }}</li>
                                            </ul>
                                            <p>
                                                {{ review.description }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
                <section class="detail-footer detail-cn">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9 detail-footer-cn">
                            <div class="row">
                                <div class="col-xs-7 text-right">
                                    <p class="price-book">From-<span>{{ housing.price }}€</span>/night <a href="{{ path('atypikhouse_reservation_start', { 'slug' : housing.slug }) }}" title="" class="awe-btn awe-btn-1 awe-btn-lager">Book Now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
