{% extends '::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} {{ parent() }} | SignIn{% endblock %}
{% block content %}
    <section class="sub-banner">
        <div class="bg-parallax bg-1"></div>
        <div class="logo-banner text-center"><a href="{{ path('atypikhouse_home') }}" title=""><img src="{{ asset('bundles/atypikhouse/images/logo.png') }}" alt=""></a></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="main-cn element-page bg-white clearfix">
                        <section class="breakcrumb-sc">
                            <ul class="breadcrumb arrow">
                                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li>Sign In</li>
                            </ul>
                        </section>
                        <section class="user-profile">
                            <div class="user-form user-signup">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2 class="user-profile__title">Sign in</h2>
                                        <p>Access your account information and manage your bookings.</p>
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        <form action="{{ path("fos_user_security_check") }}" method="post">
                                            {% if csrf_token %}
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                            {% endif %}
                                            <div class="field-input">
                                                <input class="input-text" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" required="required" >
                                            </div>
                                            <div class="field-input">
                                                <input class="input-text" type="password" id="password" name="_password" required="required" placeholder="Mot de passe">
                                            </div>
                                            <div class="field-input">
                                                <div class="check-box">
                                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" >
                                                    <label for="_remember_me">Keep me logged in</label>
                                                </div>
                                                <a class="pull-right" href="{{ path('fos_user_change_password') }}">Get a new password</a>
                                            </div>
                                            <div class="field-input">
                                                <button type="submit" id="_submit" name="_submit" class="awe-btn awe-btn-1 awe-btn-block">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}