{% extends 'UserBundle::layout-user.html.twig' %}

{% block title %} {{ parent() }} | Profil {% endblock %}

{% block inner_profile %}
    <h2 class="user-profile__title">Profil</h2>
    <div class="my-profile">
        <div class="row">
            <div class="col-md-6">
                <h4 class="my-profile__title">Personal Information</h4>
                <ul>
                    <li>
                        <span>UserName</span>
                        {{ app.user.username }}
                    </li>
                    <li>
                        <span>Gender</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.gender is not null %}
                            {{ app.user.personalInfos.gender }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>First Name</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.firstname is not null %}
                            {{ app.user.personalInfos.firstname }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Last Name</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.lastname is not null %}
                            {{ app.user.personalInfos.lastname }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Email</span>
                        {{ app.user.email }}
                    </li>
                    <li>
                        <span>Phone number</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.phoneNumber is not null %}
                            {{ app.user.personalInfos.phoneNumber }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Birth Date</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.birthDate is not null %}
                            {{ app.user.personalInfos.birthDate | date('d/m/Y')}}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Birth Location</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.birthLocation is not null %}
                            {{ app.user.personalInfos.birthLocation }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Profession</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.profession is not null %}
                            {{ app.user.personalInfos.profession }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Nationality</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.nationality is not null %}
                            {{ app.user.personalInfos.nationality | natinality }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 class="my-profile__title">Location</h4>
                <ul>
                    <li>
                        <span>Street Address</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.address is not null and app.user.personalInfos.address.streetNumber is not null and app.user.personalInfos.address.address is not null %}
                            {{ app.user.personalInfos.address.streetNumber }} {{ app.user.personalInfos.address.address }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Postal Code</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.address is not null and app.user.personalInfos.address.postalCode is not null %}
                            {{ app.user.personalInfos.address.postalCode }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>City</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.address is not null and app.user.personalInfos.address.city is not null %}
                            {{ app.user.personalInfos.address.city }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>State</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.address is not null and app.user.personalInfos.address.state is not null %}
                            {{ app.user.personalInfos.address.state }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                    <li>
                        <span>Country</span>
                        {% if app.user.personalInfos is not null and app.user.personalInfos.address is not null and app.user.personalInfos.address.country is not null %}
                            {{ app.user.personalInfos.address.country }}
                        {% else %}
                            None
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <p>
            <strong>Description :</strong><br/>
            {% if app.user.personalInfos is not null and app.user.personalInfos.description is not null %}
                {{ app.user.personalInfos.description }}
            {% else %}
                None
            {% endif %}
        </p>
        <p>
            {% if app.user.newsletter %}
                You subscribe to our newsletter
            {% else %}
                You don't subscribe to our newsletter
            {% endif %}
        </p>
        <a href="{{ path('fos_user_profile_edit') }}" class="btn">Edit profile</a>
    </div>
{% endblock %}
