
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-foter"><a href="index.html" title=""><img src="{{ asset('bundles/atypikhouse/images/logo.png') }}" alt=""></a></div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="ul-ft">
                    <ul>
                        <li><a href="{{ path('atypikhouse_home') }}" title="About">About</a></li>
                        <li><a href="{{ path('atypikhouse_home') }}" title="News">News</a></li>
                        <li><a href="{{ path('atypikhouse_home') }}" title="Blog">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="ul-ft">
                    <ul>
                        <li><a href="{{ path('atypikhouse_home') }}" title="">Contact Us</a></li>
                        <li><a href="{{ path('atypikhouse_home') }}" title="">Privacy Policy</a></li>
                        <li><a href="{{ path('atypikhouse_home') }}" title="">Term of Service</a></li>
                        <li><a href="{{ path('atypikhouse_home') }}" title="">Security</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="currency-lang-bottom dropdown-cn float-left">
                    <div class="dropdown-head"><span class="angle-down"><i class="fa fa-angle-down"></i></span></div>
                    <div class="dropdown-body">
                        <ul>
                            <li class="current"><a href="javascript:void(0)" title="">English</a></li>
                            <li><a href="javascript:void(0)" title="">Francais</a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">© 2018 AtypikHouse™ All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>