{% extends 'base.html.twig' %}

{% block body %}
    <h1>Housing</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ housing.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ housing.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ housing.price }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ housing.slug }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if housing.createdAt %}{{ housing.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if housing.updatedAt %}{{ housing.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if housing.deletedAt %}{{ housing.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('api_housing_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('api_housing_edit', { 'id': housing.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
