{% extends 'UserBundle::layout-user.html.twig' %}

{% block title %} {{ parent() }} | Notations {% endblock %}

{% block inner_profile %}
    <h2 class="user-profile__title">Notations</h2>
    <div class="user-review">
        {% for notation in notations %}
            <div class="row review-item">
                <div class="col-xs-12">
                    <div class="review-header">
                        <span class="date">{{ notation.createdAt | date('d/m/Y') }}</span>
                        <h4>{{ notation.reservation.housing.title }}
                            {{ notation | averageScore | scoreToStars | raw }}
                        </h4>
                        <a href="{{ path('atyipikhouse_housing_notation_edit', {'id' : notation.reservation.id}) }}" class="btn">Edit</a>
                    </div>
                </div>
                <div class="col-xs-3 review-number"><ins>{{ notation | averageScore | scoreFormat }}</ins></div>
                <div class="col-xs-9 review-text">
                    <ul>
                        <li><span class="icon fa fa-plus"></span>{{ notation | bestPart }}</li>
                        <li><span class="icon icon-minus fa fa-minus"></span>{{ notation | nastyPart }}</li>
                    </ul>
                    <p>
                        {{ notation.description }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
