{% extends 'UserBundle::layout-user.html.twig' %}

{% block title %} {{ parent() }} Reservation {% endblock %}

{% block inner_profile %}
    <h2 class="user-profile__title">Reservations</h2>
    <ul class="user-profile__total">
        <li class="has-number">Total Bookings(<span>{{ reservations | length }}</span>)</li>
    </ul>
    <div class="user-profile__my-booking table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>House</th>
                <th>Residents</th>
                <th>Status</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td><a href="{{ path('atypikhouse_housing_show', { 'slug':reservation.housing.slug }) }}">{{ reservation.housing.title }}</a></td>
                    <td>{{ reservation.reservationInfos.resident }}</td>
                    <td>{{ reservation | reservationState }}</td>
                    <td>{{ reservation.reservationInfos.startDate | date("d/m/Y") }}</td>
                    <td>{{ reservation.reservationInfos.endDate | date("d/m/Y") }}</td>
                    <td>{{ reservation | priceStay}}€</td>
                    <td>
                        {{ reservation | userAction | raw }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
