{% extends 'HousingBundle:housing:housing-form.html.twig' %}

{% block title %}{{ parent() }} | Housing {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AdminBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.css'
    '@AdminBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css'
    '@AdminBundle/Resources/public/css/plugins/chosen/chosen.css'
    %}
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACTrxtDIHmqjGy8AX2IC1-FVxHwY-8eew&libraries=places&callback=initAutocomplete" async defer></script>
    {% javascripts
    '@AdminBundle/Resources/public/js/plugins/ionRangeSlider/ion.rangeSlider.min.js'
    '@AdminBundle/Resources/public/js/plugins/chosen/chosen.jquery.js'
    '@AdminBundle/Resources/public/js/form.js'
    '@AdminBundle/Resources/public/js/autocomplete.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block form_content %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Housin Teaser infos <small>This part prettify your house description</small></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="control-label">{{ form_label(form.description) }}</label>
                            <div>
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12 col-xs-12">
                            {{ form_errors(form.address.streetNumber) }}
                            {{ form_errors(form.address.address) }}
                            {{ form_errors(form.address.city) }}
                            {{ form_errors(form.address.postalcode) }}
                            {{ form_errors(form.address.state) }}
                            {{ form_errors(form.address.country) }}
                            <label class="control-label">{{ form_label(form.address) }}</label>
                            <div>
                                <input id="autocomp-one" value="{{ form.address.vars.value }}" type="text" data-types="['geocode']" data-target="address-info" class="form-control google-autocomplete" placeholder="Enter your address">
                            </div>
                            <div style="margin: 15px 0" >
                                <a href="javascript:void(0)" class="show-address-block" data-target="address-info">Display full address</a>
                            </div>
                            <div class="address-info" style="display: none">
                                {{ form_widget(form.address.latitude) }}
                                {{ form_widget(form.address.longitude) }}
                                <div class="row">
                                    <div class="col-sm-2 col-xs-12">
                                        {{ form_widget(form.address.streetNumber) }}
                                    </div>
                                    <div class="col-sm-10 col-xs-12">
                                        {{ form_widget(form.address.address) }}
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px">
                                    <div class="col-sm-3 col-xs-12">
                                        {{ form_widget(form.address.city) }}
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        {{ form_widget(form.address.postalcode) }}
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        {{ form_widget(form.address.state) }}
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        {{ form_widget(form.address.country) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <h3>Teaser</h3>
                    <div class="row">
                        <div class="teaser-image">
                            {% for form_images in form.images.children %}
                                {% include 'HousingBundle:housing:housing-teaser-form-prototype.html.twig' with {'form': form_images } %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    {% if housing.state == "validated" %}
                            <div class="col-sm-3 col-xs-12">
                            <label>{{ form_label(form.visible) }}</label>
                                {{ form_widget(form.visible) }}
                            </div>
                    {% else %}
                        {% do form.visible.setRendered %}
                    {% endif %}
                    <div class="col-lg-4 m-b-md">
                        <div class="form-horizontal">
                            <div>
                                <a data-prototype="
                        {% filter escape %}
                            {{ include('HousingBundle:housing:housing-teaser-form-prototype.html.twig', { 'form': form.images.vars.prototype }) }}
                         {% endfilter %}" data-target="teaser-image" data-index="{{ form.images.children | length }}" class="btn btn-white add-prototype">Add Images</a>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
