{% extends 'HousingBundle:housing:housing-form.html.twig' %}

{% block title %}{{ parent() }} | Housing {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AdminBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.css'
    '@AdminBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css'
    '@AdminBundle/Resources/public/css/plugins/chosen/chosen.css'
    %}
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AdminBundle/Resources/public/js/plugins/ionRangeSlider/ion.rangeSlider.min.js'
    '@AdminBundle/Resources/public/js/plugins/chosen/chosen.jquery.js'
    '@AdminBundle/Resources/public/js/form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block form_content %}
    <div class="row">
        {{ form_start(form) }}
        {% for detail in form.details.children %}
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ detail.vars.value.detail.name }}</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ form_label(detail.value) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(detail.value) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="col-xs-12">
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
